@import "../../scss/mixins";

.news--wrapper {

  .news {
    position: relative;
    cursor: pointer;

    &--title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
    }

    &--img {
      border-radius: 2.5px;
      height: 206px;
      object-fit: cover;
    }

    &--tag {
      font-size: 12px;
      line-height: 13px;
      color: rgba(255, 255, 255, 0.85);
    }

    &--desc {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      padding: 10px 10px 18px;
      min-height: 150px;
      border-radius: 2.5px;
    }

    &--meta {
      color: #5E5E5E;
    }

    &--separator {
      color: #2A7B9E;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 2.5px;
      opacity: 0;
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }

  .owl-theme {

    .owl-nav {

      .owl-prev {
        position: absolute;
        top: calc(100px - 12px);
        left: -40px;

        &:hover {
          background: transparent;
          outline: 0;
        }

        span {
          font-size: 0;
          width: 20px;
          height: 20px;
          display: block;
          border-width: 2px 0 0 2px;
          border-style: solid;
          border-color: #878698;
          transform: rotate(-45deg);
          @include responsive(sm) {
            width: 12px;
            height: 12px;
          }
        }
      }

      .owl-next {
        @extend .owl-prev;
        left: auto;
        right: -40px;

        span {
          transform: rotate(135deg);
        }
      }

    }

    .owl-dots {
      margin-top: 30px;

      .owl-dot {
        span {
          width: 8px;
          height: 8px;
          background-color: rgba(93, 93, 93, 0.5);
          margin: 5px;
        }

        &.active span {
          background-color: #5D5D5D;
        }
      }
    }
  }
}
