@import "../../scss/mixins";

.product--wrapper {

  .accordion {

    & > .card {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-color: rgba(31, 191, 155, 0.26);

      &:first-child {
        border-top-width: 0;
      }
      &:not(:last-of-type) {
        @extend .card;
      }
      &:last-child {
        border-bottom-width: 0;
      }

      & > .card-header {
        margin: 0;
        padding: 0;
        border: 0;

        .btn-link {
          width: 100%;
          text-align: left;
          color: #404040;
          font-weight: bold;
          font-size: 18px;
          padding: 12px 0;
          text-decoration: none;
        }
      }
    }
  }

  @include responsive(lg) {
    .bannerImg {
      width: 400px;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }

  @include responsive(md) {
    .bannerImg {
      width: auto;
      height: 350px;
      margin: 0 auto;
      display: block;
    }
  }
}
