.col-center {
  float: none;
  margin: auto;
}

.landing-alert {
  margin-bottom: 0;
}

.page-header {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }

  &.page-header-xs {
    min-height: 40vh !important;
  }

  &.section-dark {
    .content-center,
    .category-absolute {
      z-index: 1;
    }
  }
}

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;

}

.landing-section {
  padding: 100px 0;
  z-index: 1;
}

.section-buttons {
  z-index: 1;
}

.landing-section .btn-simple {
  padding: 0;
}

.landing-section .column {
  padding: 0 75px 0 25px;
}

.team-player .img-circle, .team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form label {
  margin-top: 15px;
}

.contact-form .btn {
  margin-top: 30px;
}

.navbar-nav {
  #userMenuButton {
    background: #f5593d;
    border-radius: 30px;
    opacity: 1;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 18px;
    color: white !important;
  }
}

.navbar-relative {
  position: relative;
  z-index: 2;
}

.address-page {
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  @include box-shadow($dropdown-shadow);
  position: fixed;
  height: 70%;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  //display: none;
  &.hide {
    opacity: 0;
    height: 0;
  }

  .header {
    background: $white-color;
    padding: 15px 0;

    h3 {
      margin: 0;
    }

    .btn-info {
      position: fixed;
      right: 100px;

      &.btn-close {
        right: 10px;
      }
    }
  }

  .address-form {
    max-height: 60vh;
    overflow-y: scroll;

    .form-control {
      margin-bottom: 10px;
      background-color: #e9ecef !important;
      border: none;
    }
  }

  .addresses-wrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;

    .address-card {
      border-radius: 7px;
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
      background-color: #FFFFFF;
      color: #333333;
      margin: 20px 5px;
      position: relative;
      z-index: 1;
      border: 0 none;
      min-width: 300px;
      min-height: 175px;
      padding: 10px;

      span {
        font-weight: 500;
        color: $info-color;
        text-decoration-line: underline;
      }

      .description {
        line-height: 20px;
      }

      &.selected {
        border: 1px solid $danger-color;
        background: $info-bg-color;
      }
    }
  }
}

#register-navbar a {
  color: #FFF;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.register-footer {
  bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: $white-color;
}

.register-footer .fa-heart {
  color: #EB5E28;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #B33C12;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}

.owner {
  text-align: center;
}

.owner .avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}

.owner .name h4 {
  margin-top: 10px;
}

.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}

#following h3 {
  margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}

#follows .follows h6 {
  margin-top: 15px;
}

.follows hr {
  margin-top: 10px;
}

.alert h5 {
  margin-bottom: 10px;
}

.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  display: block;

  .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
  }
}

.presentation-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-subtitle {
  font-size: 1.7em;
  color: #FFFFFF;
}

.category-absolute {
  position: absolute;
  text-align: center;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);

  .creative-tim-logo {
    max-width: 140px;
    top: -2px;
    left: 3px;
    position: relative;
  }
}

.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: .85;

  img {
    width: 100%;
  }

  &.right {
    margin-left: 30%;
    opacity: 1;
  }
}

.page-header {
  .content-center {
    margin-top: 85px;
  }
}

.app-layout {
  min-height: calc(100vh - 85px);
}

.menu-header {
  background-color: $header-background;
  background-position: center center;
  background-size: cover;
  min-height: 40vh;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  &.menu-header-small {
    display: none;
  }

  .filter {
    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }

}

.menu-page {
  &-filter {
    margin-top: 40px;
    background-color: $light-gray-bg;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .clear-all {
      text-decoration-line: underline;
    }
  }

  .dish-card {
    .card-title {
      min-height: 52px;
    }

    .already-added {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $light-gray-bg;
      border-radius: 30px;
      font-size: 25px;
      font-weight: 500;
    }
  }
}

.dish-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.dish-container:hover .image {
  opacity: 0.3;
}

.dish-container:hover .middle {
  opacity: 1;
}

.dish-container-snack:hover .image {
  opacity: 0.3;
}

.dish-container-snack:hover .middle {
  opacity: 1;
}

//blog

.blog-container {
  position: relative;
}

.blog-container:hover .image {
  opacity: 0.3;
}

.blog-container:hover .middle {
  opacity: 1;
}

.blog-container-snack:hover .image {
  opacity: 0.3;
}

.blog-container-snack:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.order-page {
  .meals-button {
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid $danger-color;
    color: $danger-color;
    text-align: center;
    border-radius: 0.25rem;
    transition: all 150ms linear;

    &.active {
      border-color: $transparent-bg;
      background-color: $danger-color;
      color: $white-color;
    }

    &:focus,
    &:hover {
      background-color: $danger-states-color;
      border-color: $transparent-bg;
      color: $white-color;
    }
  }

  .btn-add-to-cart {
    z-index: 10;
    width: 100%;
    background: white;
    padding: 25px;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-top: 30px;
    @include box-shadow($footer-shadow);

    button {
      min-width: 50%;
      height: 60px;
      font-size: 17px;
      text-transform: none;
    }
  }
}

.cart-page {
  .cart-container {
    h3 {
      font-weight: 500;
      margin-bottom: 15px;
    }

    .meal-card {
      margin: 15px 10px;

      .divider {
        height: 1px;
        background-color: #dee2e6;
        margin: 10px;
        width: 30%;
      }

      .day-label {
        font-size: 14px;
        font-weight: 600;
        padding-top: 10px;
        line-height: 1.75;
        text-transform: uppercase;
        color: $info-color;
      }

      .item-img {
        position: relative;

        img.dish-image {
          min-width: 120px;
          height: 120px;
          width: 120px;
        }

        button {
          position: absolute;
          width: 25px;
          height: 25px;
          top: -8px;
          min-width: auto;
          right: -8px;
          padding: 0;
        }
      }

      .item-title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 7px;
      }

      .item-label {
        font-weight: 300;

        span {
          font-weight: 500;
        }
      }

      .custom-plan-remove {
        i {
          color: $danger-color;
          font-size: 15px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }

      .calendar-icon {
        color: $info-color;
        margin-top: 5px;
      }

      .delivery-date input {
        border: none;
        font-weight: 600;
        background-color: white;
        color: $info-color;
        padding: 7px;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .change {
      font-size: 15px;
      font-weight: 600;
      margin-left: 7px;
      color: $info-color;
      text-decoration-line: underline;
    }
  }
}

.profile-page {
  .nav-tabs {
    padding: 25px 0;

    .nav-item {
      width: 100%;
      height: 50px;

      .nav-link {
        font-size: 18px;
        color: $font-color;

        &.active {
          border-right: 5px solid $danger-color;
          border-radius: 0;
          font-size: 22px;
          font-weight: 500;
          -webkit-transition: all .1s ease;
          -moz-transition: all .1s ease;
          transition: all .1s ease;

          &:focus, &:hover {
            &:before,
            &:after {
              display: none;
            }
          }
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  .update-form {
    margin: 50px 0;
    text-align: left;

    .form-control {
      margin-bottom: 10px;
      background-color: #e9ecef !important;
      border: none;
    }

    button {
      width: 50%;
      margin: 20px auto;
    }
  }

  .orders {
    margin: 50px 0;
    text-align: left;

    .table {
      td {
        font-weight: 500;

        .order-title {
          font-size: 19px;
          font-weight: bold;
        }

        .order-details {
          background: $light-gray-bg;
          padding: 10px;
          border-radius: 5px;

          .plan-title {
            color: $info-color;
            font-size: 17px;
            font-weight: bold;
          }

          .date {
            font-size: 12px;
          }
        }

        button {
          padding: 0;
        }

        &:first-child {
          width: 70%;
        }

        &:nth-child(2) {
          white-space: pre;
        }
      }
    }
  }
}

.contact-page {
  .form-control {
    margin-bottom: 10px;
    background-color: #e9ecef !important;
    border: none;
  }
}

.meal-module-wrapper {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.meal-module-block {
  min-width: 160px;
  height: 320px;
  margin: 10px;
  background-color: $white-bg;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .meal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: $light-gray-bg;

    img {
      border-radius: 0;
      width: 100%;
    }

    i {
      color: $input-color-placeholder;
    }
  }

  .meal-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;

    .title {
      @include truncate-tail(3);
      font-weight: 500;
      margin: 0;
      flex: 1;
    }

    .gain-block {
      display: flex;
      margin-bottom: 10px;

      .gain-details {
        font-size: 10px;
        font-weight: 500;
      }
    }

    &-footer {
      display: flex;
      height: 40px;
      align-items: center;

      .price-block {
        flex: 1;
        font-weight: bold;
        padding-left: 10px;
      }
    }
  }
}

.card {
  .card-weight {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $danger-color;
    padding: 5px 10px;

    .weight-text {
      font-weight: 500;
      color: $white-color;
    }
  }
}

.no-data-available {
  color: $dark-gray;
  font-size: 20px;
  font-weight: 500;
}

.dish-details.modal-xl {
  padding: 0;
  max-width: 80%;

  .modal-content {
    height: 90vh;

    .modal-body {
      padding: 10px;
      display: -webkit-inline-box;;
      align-items: center;
      height: 70vh;
      overflow-y: auto;

      button.close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
      }

      .dish-price {
        font-weight: 400;
      }

      .scroll-content {
        max-height: 65vh;
        overflow-y:hidden;
      }
    }

    .section {
      padding: 0 5% 0 10%;
    }

    .carousel-inner {
      img {
        // object-fit: contain;
        max-height: 70vh;
        height: 700px;
        // min-width: initial;
        width: 700px;
      }
    }
  }
}

.menu-selector.modal-xl {
  padding: 0;
  max-width: 80%;

  .modal-content {
    height: 90vh;
    overflow-y: scroll;

    .modal-body {
      padding: 10px;
      display: flex;
      align-items: center;

      button.close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        z-index: 1;
      }
    }
  }
}

.nutritions {
  .row:nth-child(odd) {
    background: $light-gray;
  }
}

.modal-title {
  font-weight: bold;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

.divider {
  background-color: $placeholder-gray;
  height: 1px;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
  }
}

.following {
  img {
    max-width: 70px;
  }
}


.profile-content {
  & .tab-content {
    & .tab-pane {
      min-height: 200px;
    }

    & #tweets, #connections, #media {
      height: 100%;
    }
  }
}

form {
  .invalid-feedback {
    color: $black-color;
    font-weight: 500;
  }
}

.otp-model {
  .alert {
    width: 50%;
    margin: 0 auto 10px;
  }

  .modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 50px;

    input {
      width: 45px;
      height: 50px;
      font-size: 23px;
      font-weight: 500;

      &:focus-visible {
        outline: #FF8F5E auto 1px;
      }
    }
  }

  .error-message {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    color: $danger-color;
  }
}

.text-block {
  position: absolute;
  color: white;
  bottom: 15px;
  padding: 20px;
}

.top-left {
  position: absolute;
  opacity: 1;
  top: 10px;
  left: 15px;
  text-shadow: 2 2px 0 black;
  color: white;
  font-weight: bold;
}

#house-container {
    background-color:#eee;
    border-radius: 30px;
    padding: 0px 0px 15px 0px;
    margin: 5px 1px;
}