@import "../../scss/mixins";

.app-container {
  margin-top: 80px;
  padding: 0;

  @include media-breakpoint-down(sm) {
    margin-top: 75px;
  }
}

.home {
  @include gradient-blue;
  &--banner {
    min-height: 462px;
    padding: 100px 10px 74px;

    .banner--mob {
      position: absolute;
      height: 220px;
      right: 65px;
      top: -78px;
      opacity: 0.8;
      transform: rotate(-18deg);

      @include responsive(sm) {
        right: 0px;
        top: -78px;
      }
    }

    p {
      font-family: Helvetica;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.04em;
      margin-bottom: 44px;
      width: 80%;
      position: relative;
      z-index: 1;

      @include responsive(md) {
        margin-bottom: 54px;
        z-index: 1;
      }
      @include responsive(sm) {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 54px;
        z-index: 1;
        width: 100%;
      }
    }

    .btn {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 2.5px;
      min-width: 200px;
      text-transform: uppercase;
      font-family: Roboto;
      letter-spacing: 0.025em;

      @include responsive(md) {
        width: 100%;
      }
    }

    &--section {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      letter-spacing: 0.04em;
    }

    &--info {
      font-family: Helvetica;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.04em;
    }
  }

  &--news {
    background-color: #f8f9fa;
    padding: 75px 0 30px;

    @include responsive(md) {
      padding: 67px 5px 33px;
    }
  }

  &--about {
    background-color: #f9f7ed;
    padding: 67px 0 115px;

    @include responsive(md) {
      padding: 67px 0 43px;
    }
  }

  &--product {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px 0;

    @include responsive(md) {
      padding: 50px 10px;
    }
  }

  &--newsLetter {
    min-height: 333px;

    @include responsive(md) {
      min-height: auto;
      padding: 70px 10px 80px;
    }
  }
}
