@import "../../scss/mixins";

footer {
  .container {
    max-width: 100%;
    padding: 0 50px;
    @include responsive(md) {
      padding: 0 15px;
    }
    a {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .copyrights, p {
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 19px;
  }

  @include responsive(md) {
    padding: 10px;
  }
}
