.common-listing {
  color: $text-gray;
  font-size: 1rem;
  .hr-border-bottom {
    padding-top: 14px;
    margin: 0 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid $border-gray;
  }
  .user-group-col {
    .index {
      font-weight: 900;
    }
    .user-name {
      color: $black;
    }
  }
  .zr-avatar {
    height: 2.1875rem;
    width: 2.1875rem;
    margin: 0 0.625rem;
  }
  .match-status {
    .match-icon {
      width: 1.6875rem;
      height: 1.125rem;
    }
  }
}
