@import "../../scss/mixins";

.navbar {
  box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 25px 20px !important;
  @include responsive(lg) {
    padding: 0 !important;
  }
}

.navbar-collapse.collapse.show {
  background-color: white;
  margin: 0 -1.5rem 0 -1.5rem;
  @include responsive(lg) {
    padding: 32px 38px;
    .nav-item {
      .nav-link {
        padding-bottom: 20px;
      }
    }
  }
}
.navbar-collapse.collapsing {
  display: none;
}

.nav-link {
  color: rgba(93, 93, 93, 0.5) !important;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  &.active {
    color: #6b6b6b !important;
  }
  &:hover {
    color: black !important;
  }
}
.navbar-brand {
  margin-right: 0 !important;
  img {
    width: 159px;
    @include responsive(md) {
      width: 130px;
    }
  }
}
.navbar-toggler {
  @include responsive(lg) {
    padding: 0 !important;
  }
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../../images/icon-toogle.svg") !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  @include responsive(lg) {
    width: 100%;
    height: 100%;
    padding: 0 25px !important;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
}
.register-form {
  .form-control {
    @include placeholder-color(#c0c0c0);
  }
  &.modal-body {
    padding: 45px 45px 55px;
    .input-group {
      //box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      @include responsive(sm) {
        flex-direction: column;
        align-items: center;
        input {
          box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1) !important;
          border-radius: 15px !important;
          margin-bottom: 15px;
          padding: 10px 20px !important;
          font-size: 18px;
          line-height: 21px;
        }
      }
      button {
        width: 120px;
        font-family: Roboto;
        border-radius: 0 15px 15px 0;
        letter-spacing: 0.025em;
        @include responsive(sm) {
          box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.1);
          border-radius: 15px !important;
        }
      }
    }
  }

  &--header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    margin-bottom: 1rem;
    color: #5e6667;
    @include responsive(sm) {
      font-size: 24px;
    }
  }

  &--info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #404040;
    @include responsive(sm) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
