@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url(../fonts/Helvetica.ttf) format("otf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@mixin helvetica-text {
  font-family: Helvetica;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
