@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 991px,
  xl: 1200px,
) !default;

@mixin responsive($media) {
  @if ($media == "xl") {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if($media == "lg") {
    @media (max-width: 991px) {
      @content;
    }
  } @else if($media == "md") {
    @media (max-width: 767px) {
      @content;
    }
  } @else if($media == "sm") {
    @media (max-width: 576px) {
      @content;
    }
  }
}

@mixin responsive-up($media) {
  @if ($media == "xl") {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if($media == "lg") {
    @media (min-width: 991px) {
      @content;
    }
  } @else if($media == "md") {
    @media (min-width: 767px) {
      @content;
    }
  } @else if($media == "sm") {
    @media (min-width: 576px) {
      @content;
    }
  }
}

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-blue {
  background: #5B86E5;
  background: linear-gradient(86.09deg, #5B86E5, #36D1DC);
}

@mixin placeholder-color($color) {
  /* Chrome/Opera/Safari */
  &::-webkit-input-placeholder {
    color: $color;
    letter-spacing: 0.04em;
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    color: $color;
    letter-spacing: 0.04em;
  }
  /* IE 10+ */
  &:-ms-input-placeholder {
    color: $color;
    letter-spacing: 0.04em;
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    color: $color;
    letter-spacing: 0.04em;
  }
}
