// Declare all variables in the file

// Colors
$purple: #bf9dc2;
$purple-light: #a5a4b6;
$white: #ffffff;
$gray: #e5e5e5;
$text: #404040;
$text-gray: #878698;
$border-gray: #dadada;
$blackWithOpacity25: rgba(0, 0, 0, 0.25);
$yiq-text-dark: #000000;

$green: #1fbf9b;
$blue: #2a7c9e;

// Borders and margins.
// $border-radius: 3.125rem !default;
